<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://davidiptv.app/IPTVPlayer"
        version="1.0.0"
        viewmodes="fullscreen">

  <tizen:application id="IPTVApp.Main"
                     package="IPTVApp"
                     required_version="4.0"/>

  <content src="index.html"/>
  <name>IPTV Player</name>
  <description>IPTV Player with EPG guide for Samsung TV</description>
  <icon src="assets/icon.png"/>

  <tizen:setting hwkey-event="enable"/>
  <tizen:setting screen-orientation="landscape"/>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/storage"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>

  <access origin="*" subdomains="true"/>
  <feature name="http://tizen.org/feature/network.internet"/>
</widget>
